<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 </head>
<body class="nav-md">
<div th:fragment="footer2" class="col-md-12 left_col">
       <!-- footer content -->

        <footer th:fragment="footer" id="footer-basic">
          <div class="copyright-info">
            <p class="pull-right">Quizermise - The SAD project
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <style>
        	#footer-basic{
        		    border-top: 3px solid #4D7194;
				    background-color: #DBDFE2;
				    /* width: 150%; */
				    display: block;
				    margin: 0px -30px 0px -30px;
        	}
        </style>
      </div>
</body>

</html>
