<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Home</title>


  <link href="css/bootstrap.min.css" rel="stylesheet"></link>

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet"></link>
  <link href="css/animate.min.css" rel="stylesheet"></link>

  <link href="css/custom.css" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.3.css" ></link>
  <link href="css/icheck/flat/green.css" rel="stylesheet" ></link>
  <link href="css/floatexamples.css" rel="stylesheet" type="text/css" ></link>

  <script src="js/jquery.min.js"></script>
  <script src="js/nprogress.js"></script>
 </head>
<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div th:replace="sidebar :: sidebar"/>

      <div th:replace="top-nav :: top"/>


      <!-- page content -->
      <div class="right_col" role="main">

        <!-- top tiles -->
        <div class="row tile_count">
          <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i class="fa fa-user"></i> Total Test done</span>
              <div class="count">2500</div>
            </div>
          </div>
          <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i class="fa fa-clock-o"></i> Total user</span>
              <div class="count">123.50</div>
            </div>
          </div>
          <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
              <span class="count_top"><i class="fa fa-user"></i> Number of test</span>
              <div class="count green">2,500</div>
            </div>
          </div>
        </div>
        <!-- /top tiles -->

        <div class="row">


          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_320">
              <div class="x_title">
                <h2>App Versions</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <h4>Trending topic</h4>
                <div th:each="element,counter : ${TopExam}" class="widget_summary">
                  <div class="w_left w_25">
                    <span th:text="${element.name}">English TOEIC</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span th:text="${element.testDone}">123k</span>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
          </div>

        </div>
      <div th:replace="footer :: footer"/>
      </div>
      <!-- /page content -->

    </div>

  </div>
 <div th:replace="inbody-script :: script"/>

</body>

</html>
